<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="templates" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Ajouter une chambre</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container" align="center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Ajouter Chambre</h1>
            <form action="/ajouterroom" method="post" th:object="${room}">
                <div class="mb-3">
                    <label for="roomNumber" class="form-label">Numéro de chambre</label>
                    <input type="text" class="form-control w-50" id="roomNumber" name="roomNumber">
                    <span class="text-danger" th:errors="${room.roomNumber}"></span>
                </div>
                <div class="mb-3">
                    <label for="pricePerNight" class="form-label">Prix par nuit</label>
                    <input type="number" class="form-control w-50" id="pricePerNight" name="pricePerNight" th:field="*{pricePerNight}">
                    <span class="text-danger" th:if="${#fields.hasErrors('pricePerNight')}" th:errors="*{pricePerNight}"></span>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control w-50" id="description" name="description" th:field="*{description}"></textarea>
                    <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                <div class="mb-3">
                    <label for="roomType" class="form-label">Type de chambre</label>
                    <select class="form-select w-50" id="roomType" name="roomType" th:field="*{roomType}">
                        <option value="SINGLE">Single</option>
                        <option value="DOUBLE">Double</option>
                        <option value="VIP">VIP</option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('roomType')}" th:errors="*{roomType}"></span>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="available" name="available" th:field="*{available}">
                    <label class="form-check-label" for="available">Disponible</label>
                    <span class="text-danger" th:if="${#fields.hasErrors('available')}" th:errors="*{available}"></span>
                </div>
                <button type="submit" class="btn btn-primary form-control w-50" value="Ajouter">Ajouter</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
