<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Facture</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<h1>Ajouter Facture</h1>
<form method="post" th:action="@{/ajouterf}">
    <label>Description: <input type="text" th:field="${facture.description}" /></label><br/>
    <label>Totale: <input type="text" th:field="${facture.totale}" /></label><br/>
    <button type="submit">Ajouter</button>
</form>
</body>
</html>
