<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Ajouter Page</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container" align="center">
        <form action="/ajouterOncee" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control w-50" id="name" name="name">
                <span class="text-danger"  th:errors="${Hotel.name}"></span>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control w-50" id="address" name="Address">
                <span class="text-danger"  th:errors="${Hotel.address}"></span>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control w-50" id="phone" name="phone">
                <span class="text-danger" th:errors="${Hotel.phone}"></span>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control w-50" id="email" name="email">
                <span class="text-danger" th:errors="${Hotel.email}"></span>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control w-50" id="description" name="description" maxlength="100"></textarea>
                <span class="text-danger"  th:errors="${Hotel.description}"></span>
            </div>
            <button type="submit" class="btn btn-primary form-control w-50" value="Ajouter">Ajouter</button>
        </form>
    </div>
</div>

</body>
</html>