<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="templates" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des Réservations</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2 class="text-center my-4"> Liste des Réservations</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Name</th>
                <th>Date</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${listreservation}">
                <td th:text="${reservation.getId()}"></td>
                <td th:text="${reservation.startDate}"></td>
                <td th:text="${reservation.endDate}"></td>
                <td th:text="${reservation.name}"></td>
                <td th:text="${reservation.date}"></td>
                <td>
                    <a class="btn btn-info"  th:href="@{/detailsreservation(id=${reservation.id})}">Details</a>
                    <a class="btn btn-warning" sec:authorize="hasAnyRole('admin','managetable')"  th:href="@{/editreservation(id=${reservation.id})}">Edit</a>
                    <a class="btn btn-danger" sec:authorize="hasAnyRole('admin','managetable')"  th:href="@{/deletereservation(id=${reservation.id})}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>
