<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates" lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit Admin</title>
</head>

<body>
<div layout:fragment="content">
    <div class="p-3 m-2">
        <div class="card">
            <div class="card-header">Admin edit</div>
            <div class="card-body">

                <div class="form-group">
                    <form class="form-inline" action="/ajouterr" method="post">
                        <input type="hidden" name="id" th:value="${AdminToBeUpdated.id}">
                        Title: <input class="form-control" name="name" type="text"
                                      th:value="${AdminToBeUpdated.name}">
                        Phone: <input class="form-control" name="phone" type="text"
                                      th:value="${AdminToBeUpdated.phone}">
                        Designation: <input class="form-control" name="description" type="text"
                                            th:value="${AdminToBeUpdated.description}">
                        <br>
                        <input class="btn btn-primary form-control" type="submit" value="Modifier">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
